[Desktop Entry]
Type=Application
Name=Wallpy
Comment=Wallpaper slideshow manager for Linux
Exec=wallpy
Icon=wallpy
Categories=Utility;
Terminal=false

